
Chinh_thuc/Chinh_thuc.sln
BM3 va BM8/.vs/BM3/v16/.suo
QL_DocGia/QL_DocGia/obj/Debug/DesignTimeResolveAssemblyReferences.cache
QL_DocGia/QL_DocGia/obj/Debug/DesignTimeResolveAssemblyReferences.cache
QL_DocGia/QL_DocGia/obj/Debug/QL_DocGia.csproj.GenerateResource.cache
QL_DocGia/QL_DocGia/obj/Debug/QL_DocGia.csprojAssemblyReference.cache
QL_DocGia/QL_DocGia/Program.cs
QL_DocGia/QL_DocGia/Properties/AssemblyInfo.cs
QL_DocGia/QL_DocGia/Properties/Settings.Designer.cs
